* {
  margin: 0;
}

.App {
  background-color: #FAFAFA;
  height: 100vh;
}

.App__header {
  background-color: #ffffff;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;

}